div.clickEffect{
	position:fixed;
	box-sizing:border-box;
	border-style:solid;
	border-color:#000000;
	border-radius:50%;
	animation:clickEffect 0.4s ease-out;
	z-index:99999;
}
@keyframes clickEffect{
	0%{
		opacity:1;
		width:0.5em; height:0.5em;
		margin:-0.25em;
		border-width:0.5rem;
	}
	100%{
		opacity:0.2;
		width:15em; height:15em;
		margin:-7.5em;
		border-width:0.03rem;
	}
}

.cursor{
	width: 10px;
	height: 10px;
	position: absolute;
	z-index: 999999999;
	pointer-events: none;
	background-color: #000;
	border-radius: 50%;
}

.cursor::before{
	content: '';
	width: 40px;
	height: 40px;
	border: 3px solid #000;
	background: transparent;
	border-radius: 50%;
	display: block;
	position: relative;
	top: -15px;
	left: -15px;
}